# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz

# yarn
yarn.lock

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

.env
.idea
.DS_Store
/tmp
.vscode
build
dist